<div class = "formPart">
  <%= simple_form_for @notice do |f| %>
    <%= f.input :title, label: '제목', wrapper_html: {class: 'firstInput'} %>
    <%= f.input :content, label: '내용', wrapper_html: {class: 'secondInput'}, :input_html => {:class => 'tinymce'}%>
    <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
    <%= f.button :submit, "제출" %>
        
    <%= tinymce %>
    
  <% end %>
</div>